@font-face {
  font-family: "poppins-bold";
  src:url('./fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: "poppins-medium";
  src:url('./fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: "poppins-light";
  src:url('./fonts/Poppins-Light.ttf');
}

* {
  font-family: 'poppins-light';
  margin: 0;
  padding:0;
}
/* .App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  min-height: 100vh;
  background-color: white; 
  width: 100%;
} */

.content-container {
  width: 100%; /* Full width of the element */
  max-width: 90%; 
  margin: 0 auto; 
  padding: 20px; 
  box-sizing: border-box; 
}

/* Additional styles for individual components */
.NavbarAndHome, .Signup, .Login, .ForgotPassword, .ResetPassword, .Dashboard {
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  box-sizing: border-box; 
}
