* {
  color: rgb(255, 255, 255);
  font-size: large;
}
 

.header-container{
  display: flex;
  justify-content: space-between;
  border-bottom: #9e9a41 solid 2px;
  height: auto;
}

.header-container h1 {
  color: white;
  margin-left: 20px;
  font-family: 'poppins-light';
  font-size: 30px;
  margin:auto 0;
}
.header-container a {
  font-size: 20px;
}

.dashboard-container .header-container button {
  width: 6rem;
  margin: 1rem;
}

.title-container h2 {
    color: #008000;
    font-size: 80px; 
    font-family: 'poppins-bold';
    line-height: 20px;
    margin: 0 0 50px 50px;
}
.title-container .color-brown {
    color: #008000;
    font-size: 100px; 
    font-family: 'poppins-bold';
}

.dash-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  height: 80vh;
  background-color: rgba(0, 128, 0, 0.098);
}

.title-container {
margin-top: 10%;
width: 40%;
  
}

.package-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.package-container h2 {
    color: green; 
    font-size: 30px; 
    margin: 0 0 1rem 0;
} 
.title-container .color-brown {
  color: #49281f;
}

.logout{
  width: 6rem;
  margin: 1rem;
}

.header-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: #9e9a41 solid 2px;
}

.product-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color:rgba(255, 255, 255, 0.678); 
  border-radius: 15px; 
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); 
  width: 200px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  height: 400px;
}

.product-card.hover {
  transform: translateY(-5px) scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.product-name {
  color: green; 
  font-size: 18px; 
  padding: 20px; 
  margin: 0; 
  text-align: center; 
}

.product-image {
  width: 150px;
  height: 150px; 
  object-fit: cover; 
  background-color: white; 
  border-radius: 20px;
}

.product-description {
  font-size: 15px; 
  padding: 10px 0 10px 0; 
  color: black; 
  margin: 0; 
}

.product-price {
  font-size: 15px; 
  font-weight: bold;
  padding-bottom: 10px;
  color: black; 
  margin: 0; 
}

.product-card button {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 50%; 
  height: 20px;
  padding: 15px; 
  background-color: green; 
  color: white; 
  font-size: 15px; 
  border: none; 
  cursor: pointer; 
}

.product-card button:hover {
  background-color: rgb(5, 65, 5); 
}

@media(max-width: 1350px){
  .dash-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  .title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title-container h2 {
    font-size: 60px; 
    margin:0.5rem 0 0.5rem 0;
  }
  .title-container .color-brown {
      font-size: 80px; 
  }
  .package-container {
    width: auto;
  }
  .product-card {
    width: 250px;
  }
  .package-container h2 {
      color: green; 
      font-size: 30px; 
      margin: 0 0 1rem 0;
      text-align: center;
  }
}
@media(max-width: 900px){
  .product-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
}
