.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: green;
  width: 100%;
}

.footer-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: green;
  width: 100%;
  margin: 30px;
}
.footer-container h1{
  color: white;
  font-size: 30px;
}
.footer-container h3{
  font-size: 15px;
  color: white;
}
.footer-container p{
  font-size: 15px;
  color: white;
}

.footer-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 700px ){

  .footer-container h1 {
    font-size: 20px;
    margin: 0.5rem;
  }
  .footer-container p {
    font-size: 10px;
  }
  .footer-cols,
  .footer-cols h3,
  .footer-cols p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .footer-container .footer-visit {
    margin: 0.5rem;
  }
  .footer-follow {
    margin-bottom: 0.5rem;
  }
}