.header-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: green;
  height: auto;
}

.header-container h1 {
  color: white;
  padding-left: 20px;
  font-family: 'poppins-light';
  font-size: 30px;
  margin:auto 0;
}
.header-container button {
  width: 100px;
  margin: 10px;
    font-size: 15px;
}

.header-container a {
  text-decoration: none;
  font-size: 15px;
}

@media (max-width: 700px){
  .header-container {
    width: 100%;
    height:80px;
  }
  .header-container button {
  margin: 0;
}
.header-container h1 {
  color: white;
  padding-left: 20px;
  font-family: 'poppins-light';
  font-size: 20px;
  margin:auto 0;
}
.header-container a {
  text-decoration: none;
  font-size: 15px;
}


}