.header-container {
  display: flex;
  justify-content: space-between;
  border-bottom: #9e9a41 solid 2px;
}

.home-container .header-container h1 {
  font-family: 'poppins-bold';
  font-size: 70px;
  margin:0px;
}

.home-container .header-container button {
  width: 6rem;
  margin: 1rem;
}

.home-container a {
  text-decoration: none;
}

.home-container .header-container h1 {
  font-family: 'poppins-bold';
  font-size: 70px;
  margin:0px;
}


.join-donate-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.donate {
  background-color: green;
  padding: 20px;
  border-radius: 5px;
}

.home-container .donate h2 {
  margin:0;
  color: white;
}

.home-container .donate p{
  color: white;
  font-size: 20px;
  margin: 10px;
}

.container-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.home-container  h2{
  margin: 24px 0 24px 0;
}

.home-container p {
  margin: 24px 0 24px 0;
  color: black;
}
