.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; 
  padding: 10px 20px; 
}

.navbar-brand {
  color: green; 
  margin: 0; 
  font-size: 2.5em; 
}

.navbar-user {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 40px; 
  height: auto; 
}
