.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white; 
}

.sign-up-form {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.1); 
  background-color: white; 
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333; 
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0; 
  border-radius: 4px;
  outline: none; 
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); 
  transition: ease all  0.6s; 
  color: rgb(10, 65, 138);
}

input:focus{
  color: black;
}

input:hover, input:focus {
  border-color: green; 
}

button {
  width: 100%;
  padding: 10px;
  background-color: green; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s; 
}

button:hover {
  background-color: #004d00; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}

.sign-up-form h2{
  color: green;
  font-size: x-large;
}

.Forgot a, .user a {
  color: #3498db; 
  text-decoration: none; 
  font-size: small;
}

.Forgot a:hover, .user a:hover {
  color: #2980b9; 
  text-decoration: underline; 
}

.after-button{
  margin-top: 10px;
  transition: ease all 0.6s;
}

.dont {
  margin-top: -5px;
  margin-bottom: -15px;
}